<!DOCTYPE html>
<html>
<head>
  <title>Görsel Yükleme</title>
</head>
<body>
  <h2>Görseli Seçin ve Modeli Test Edin (Brain XRAY (GLIOMA - MENINGIOMA - NORMAL - PITUITARY))</h2>

  <form id="upload-form" enctype="multipart/form-data">
    <input type="file" name="file" id="file" accept="image/*">
    <br><br>
    <img id="preview" src="#" alt="Görsel önizleme" style="max-width:300px; display:none;" />
    <br><br>
    <button type="submit">Gönder</button>
  </form>

  <h3>Tahmin Sonucu:</h3>
  <pre id="result"></pre>

<script>
  const form = document.getElementById("upload-form");
  const fileInput = document.getElementById("file");
  const preview = document.getElementById("preview");
  const result = document.getElementById("result");

  fileInput.addEventListener("change", () => {
    const file = fileInput.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (e) {
        preview.src = e.target.result;
        preview.style.display = "block";
      };
      reader.readAsDataURL(file);
    }
  });

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData();
    formData.append("file", fileInput.files[0]);

    const response = await fetch("/predict", {
      method: "POST",
      body: formData
    });

    const data = await response.json();

    let output = `<strong>Tahmin Süresi:</strong> <span style="color:green;">${data.time} saniye</span><br><br><strong>En yüksek olasılıklar:</strong><br>`;
    const sortedEntries = Object.entries(data.prediction)
    .sort((a, b) => b[1] - a[1]);

    sortedEntries.forEach(([label, prob], index) => {
    const percentage = (prob * 100).toFixed(1);
    if (index === 0) {
        output += `<span style="color:red; font-weight:bold;">→ ${label}: ${percentage}%</span><br>`;
    } else {
        output += `- ${label}: ${percentage}%<br>`;
    }
    });

    result.innerHTML = output;
  });
</script>

</body>
</html>
